<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Team || INTERRUPTS</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "school/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Hello</h1>
    <p class="lead">Welcome to Interrupts, where innovation meets education! We are a dynamic and passionate team dedicated to revolutionizing the landscape of smart education. At Interrupts, we believe in the power of technology to transform learning into an engaging and personalized experience. Our team comprises forward-thinking individuals with diverse expertise, united by a common goal: to make education smarter, more accessible, and enjoyable for all. With a commitment to excellence, we strive to create a cutting-edge smart education website that empowers learners, educators, and institutions alike</p>
    <hr class="my-4">
    <p>Join us on this exciting journey as we redefine education in the digital age. Interrupts - Shaping the Future of Smart Learning!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "school/footer.html" %}
</body>

</html>
